.about{
	background-color: #3B3B3B;
	height: 600px;


	
	&-headline {
		margin-top: 0;
		font-weight: 600;
	    font-size: 1.5rem; 
		text-align: center;
		color: #E4B800;
		
		
		@mixin atSmall{
			 font-size: 4rem;
		}
		
	}	
	
}

.section-about{
	text-align: center;
	color: #fff;
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 100;
	
	
	@mixin atSmall{
		font-size: 1.6rem;
	}
}