.contact{
	background-color: #E76C0A;
	height: 300px;
	color: #fff;
	text-align: center;
	
	&-headline{
		margin-top: 0;
		text-align:center;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: 600;
		color: #fff;
		
		
		@mixin atSmall{
			font-size: 1.9rem;
		}
		
	  
		
		&__margin{
			padding-top: 85px;
		}
	}
	&-text{
			font-size: 1.8rem;
		}
	&-button{ 
		color: #3B3B3B;
		padding:.75rem 1.2rem;
		background-color:#E76C0A;
		border: 3px solid #3B3B3B;
		font-size: 1.2rem;
		text-transform: uppercase;
	
		
		&:hover{
			background-color:#3B3B3B; 
			color: #E76C0A;
			border: 2px solid #E76C0A;
				box-shadow: inset 0 0 0 3px #3B3B3B;
			cursor: pointer;
			
	@mixin atSmall{
			font-size: 1rem;
		}
		
		}
	}
}


